nav{
  height: 140px;
}

.div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  align-items: center;
  }

.div-logo {
  padding: 0 20 px;
  cursor: pointer;
}

.div-name {
  color: rgb(0, 117, 191);
  background-color: #ffffff;
  font-size: 18px;
}