nav {
  height: auto;
}

.div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  }

.div-logo {
  cursor: pointer;
  background: white;
  border-radius: 10%;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  margin: 0;
  padding: 0;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 40%) 0px 1px 4px -1px;
}