nav{
  height: auto;
}

.div-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ffffff;
  align-items: center;
  }

.div-logo {
  cursor: pointer;
  height: auto;
}

.div-name {
  color: rgb(0, 117, 191);
  background-color: #ffffff;
  font-size: auto;
}